<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>Meta Title</th>
                <th>Description</th>
                <th class="text-center">Content</th>
                <th>Ngày tạo</th>
                <th>Trạng thái</th>
                <th>Ngày cập nhật</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody id="table">
            <!-- Javascript sẽ tự động thêm dữ liệu vào đây -->
        </tbody>
    </table>

    <script src="/controller/table.js"></script>
</div>